body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
}

.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 10%;
    color: black;
}

nav {
    display: flex;
    background-color: #ff0000;
    padding: 9px;
    color: rgb(248, 248, 248);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
}

nav li a:hover {
    color: white;
}


/*--------------------main section*/

.products {
    background-color: white;
    height: 50%;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    color: black;
}

.product {
    padding: 50px;
}

.logo_poke {
    border-radius: 35px;
    width: 80px;
    border: solid black;
}

.products h1 {
    text-align: center;
}

.product .content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px -1px 13px 4px black;
}

.img_conter {
    width: 50%;
    padding: 50px;
    text-align: center;
}

.content img {
    width: 100px;
}

.main_button {
    background-color: #ff0000;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #a70303;
}


/*-----pie de pagina-----*/

footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 28, 28);
}